@use 'styles/main';

.wrapper {
  @include main.media("<desktop") {
    [data-logo-mobile] {
      display: block;
    }

    [data-logo-desktop] {
      display: none;
    }
  }

  @include main.media(">desktop") {
    [data-logo-mobile] {
      display: none;
    }

    [data-logo-desktop] {
      display: block;
    }
  }
}

