@use 'styles/main';

.wrapper {
  @extend %containerPaddingLeftRight;
  text-align: center;
}

.contentWrapper {

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(20rem, 37rem));
  gap: 3rem;
  justify-content: center;

}