// texts
$text-primary-color: #004851;
$text-secondary-color: #9b9b9b;

$title-primary-color: #004852;

// links
$link-primary-color: #004852;
$link-hover-primary-color: #002d33;

// buttons
$button-bg-primary-color: #004852;
$button-bg-hover-primary-color: #002d33;

$button-text-primary-color: #fff;

// backgrounds
$bg-primary-color: #004852;
$bg-hover-primary-color: #002d33;

$bg-secondary-color: #3B9BAA;
$bg-hover-secondary-color: #2F8A9E;

// container
$bg-primary: #fff;
$bg-secondary: #d1ebf0;

$fast: 300ms;

$menu: 40;
$alwaysOnTop: 50;