@use 'styles/main';

@mixin defineVariants {
  &[data-variant-header-desktop] {
    position: relative;

    font-size: 1.3rem;
    line-height: 1.3+.2rem;
    font-weight: 400;
    color: main.$link-primary-color;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &:hover {
      color: main.$link-hover-primary-color
    }

    &::after {
      content: '';

      position: absolute;
      left: 0;
      width: 0;
      bottom: -2px;
      height: 1px;

      background-color: main.$link-hover-primary-color;

      transition: 400ms all;
    }

    &:hover::after {
      width: 100%;
    }

  }
}

.wrapper {
  @include defineVariants;
}