@use 'include-media_overwrite.scss' as *;

@mixin defineFontStyles($size: 1.4,$color: black,$weight: 400, $letterSpacing: .1, $fontFamily: 'Poppins') {
  font-family: $fontFamily,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: #{$size}rem;
  line-height: #{$size + .2}rem;
  letter-spacing: #{$letterSpacing}rem;

  color: $color;
  font-weight: $weight;
}

@mixin defineFlex($direction: row, $justify: center, $align: center, $wrap: wrap){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin centerAbsolute($width: 100%, $height: 100%){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $width;
  height: $height;
}
  
@mixin definePadding {
  $container-to-remove-padding: 1330px;

  @include media("<#{$container-to-remove-padding}") {
    padding: 0 20px;
  }
}