$text-primary-color: #004851;

$link-primary-color: #004852;
$link-hover-primary-color: #002d33;

$button-bg-primary-color: #004852;
$button-bg-hover-primary-color: #002d33;

$button-text-primary-color: #fff;

$bg-primary: #fff;
$bg-secondary: #d1ebf0;

$fast: 300ms;

$menu: 40;
$alwaysOnTop: 50;