@use './main.scss' as *;

@font-face {
  font-family: "ibm";
  src: url("/fonts/ibm/IBMPlexSans-Thin.ttf");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "ibm";
  src: url("/fonts/ibm/IBMPlexSans-Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "ibm";
  src: url("/fonts/ibm/IBMPlexSans-ExtraLight.ttf");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "ibm";
  src: url("/fonts/ibm/IBMPlexSans-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "ibm";
  src: url("/fonts/ibm/IBMPlexSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "ibm";
  src: url("/fonts/ibm/IBMPlexSans-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}



@font-face {
  font-family: "Acme";
  src: url("/fonts/acme/Acme-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

html {
  font-size: 62.5%;
} 

a {
  text-decoration: none;
}

h1,h2,h3,h4,a,p,span {
  @extend %fontDefault;
}

button {
  appearance: none;
  background-color:  transparent;
  cursor: pointer;
}

input, button, a {
  transition: 300ms all;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
  border: unset;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::before,
  &::after {
    box-sizing: inherit;
  }
}
