@use './main.scss' as *;

@font-face {
  font-family: "EBGaramond";
  src: url("/fonts/acme/Acme-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

html {
  font-size: 62.5%;
} 

a {
  text-decoration: none;
}

button {
  appearance: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
  border: unset;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::before,
  &::after {
    box-sizing: inherit;
  }
}
