@use 'styles/main' as main;

.wrapper {
  @extend %containerPadding;
  $padding: 4rem;

  background-color: main.$bg-secondary;

  padding-top: $padding;
  padding-bottom: $padding;

  @include main.media(">desktop") {
    $padding: 6rem;

    display: grid;
    grid-template-columns: 45rem 1fr;

    padding-top: $padding;
    padding-bottom: $padding;
  }

  [data-component-description] {
    text-align: center;
    margin-bottom: 3.2rem;

    @include main.media(">desktop") {
      text-align: left;
    }
  }

}

.imgContainer {
  margin-left: auto;

  width: 100%;
  max-width: 44.5rem;

  display: none;

  @include main.media(">desktop") {
    display: block;
  }
}

$mediasAndSizes: '>phonemid' 3.5rem 4rem, '>tablet' 4.5rem 5rem, '>desktop' 5rem 5.5rem, '>notebook' 6rem 6.5rem;

@mixin generateMediaInTitle {
  @each $media, $fontSize, $lineHeight in $mediasAndSizes {
    @include main.media($media) {
      font-size: $fontSize;
      line-height: $lineHeight;
    }
  }
}

.title {
  @include generateMediaInTitle;
  text-align: center;

  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 300;
  color: main.$text-primary-color;
  letter-spacing: .4rem;

  margin-bottom: 1.6rem;

  @include main.media(">desktop") {
    text-align: left;
  }
}

.containerButtons {
  @include main.defineFlex(column);

  button:first-child {
    margin-bottom: 1.2rem;
  }

  button {
    max-width: 30rem;
  }

  @include main.media(">phonemid") {
    span {
      font-size: 1.5rem;
      line-height: 1.5+.2rem;
      font-weight: 400;
      letter-spacing: .1rem;
    }
  }

  @include main.media(">desktop") {
    align-items: flex-start;
  }
}