@use 'styles/main'as main;

$container-height: 6.5rem;

@mixin defineStylesBasedOnStates {
  .menuWrapper.menuScrolling {
    @include main.designOfHeadersWhenScrollAppear;
    height: $container-height;
  }

  .containerToNotAffectScroll {
    @include main.media("<desktop") {
      height: $container-height;
    }
  }
}

.wrapper {
  @include defineStylesBasedOnStates;
}

.menuWrapper {
  @include main.defineFlex($justify: space-between);
  @extend %containerPaddingLeftRight;

  height: $container-height;

  @include main.media(">desktop") {
    display: none
  }

}
