@use '../../../../styles/main'as main;

.wrapper {
  @include main.defineFlex($justify: space-between);
  padding-top: 1rem;

  @include main.media(">desktop") {
    display: none
  }
}

.wrapperMenuOpen {
  @include main.defineFlex(column);
  @include main.centerAbsolute;

  z-index: main.$menu;
  background: main.$bg-primary;

  button[data-close-modal] {
    position: absolute;
    top: 2rem;
    right: 2rem;

    cursor: pointer;
    background-color: transparent;
  }

  a {
    font-size: 2rem;
    line-height: 2+.2rem;
    font-weight: 700;
    color: main.$link-hover-primary-color;
    letter-spacing: .2rem;

    font-family: 'acme', 'Courier New', Courier, monospace;

    text-transform: uppercase;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &:hover {
      color: main.$link-hover-primary-color
    }

    @include main.media(">phonemid") {
      font-size: 3rem;
      line-height: 3+.2rem;
      font-weight: 700;
      color: main.$link-hover-primary-color;
      letter-spacing: .2rem;
    }
  }
}

.wrapperMenuOpen.isOpen {
  animation: ease-in main.$fast open both;
}

.wrapperMenuOpen.isOpen.menuClosing {
  animation: ease-in-out main.$fast close both;
}

@keyframes open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes close {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}