@use '../../../../styles/main'as main;

$container-height: 4.5rem;

.menuWrapper {
  @include main.defineFlex($justify: space-between);

  height: $container-height;
  @include main.media(">desktop") {
    display: none
  }

  &.menuScrolling {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: main.$alwaysOnTop;
    box-shadow: 0 0 8px rgb(0 0 0 / 16%);;

    animation-name: bounceInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  100% {
    transform: none;
  }
}

.wrapperMenuOpen {
  @include main.defineFlex(column);
  @include main.centerAbsolute;

  z-index: main.$menu;
  background: main.$bg-primary;

  button[data-close-modal] {
    position: absolute;
    top: 2rem;
    right: 2rem;

    cursor: pointer;
    background-color: transparent;
  }
}

.wrapperMenuOpen.isOpen {
  animation: ease-in main.$fast open both;
}

.wrapperMenuOpen.isOpen.menuClosing {
  animation: ease-in-out main.$fast close both;
}

@keyframes open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes close {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.containerToNotAffectScroll {
  @include main.media("<desktop") {
    height: $container-height;
  }
}