@use 'styles/main';

@mixin defineVariants {
  &[data-variant-primary] {
    background-color: main.$button-bg-primary-color;
    border-radius: 2rem;

    span {
      font-size: 1.6rem;
      line-height: 1.6rem+.2rem;
      font-weight: 600;
      color: main.$button-text-primary-color;
      letter-spacing: .1rem;
    }

    border: 1px solid main.$button-bg-hover-primary-color;

    &:hover {
      background-color: main.$button-bg-hover-primary-color;
    }
  }
}

@mixin buttonOutlines {
  &.outline[data-variant-primary] {
    background-color: transparent;

    span {
      color: main.$button-bg-primary-color;
    }

    &:hover {
      span {
        color: main.$button-text-primary-color;
      }

      background-color: main.$button-bg-primary-color;
    }
  }
}

$buttonSizes: 'small' 10rem, 'medium' 15rem, 'large' 20rem, 'xlarge' 25rem, 'xxlarge' 30rem, 'full' 100%;

@mixin generateSizesVariations {
  @each $size in $buttonSizes {
    &.#{nth($size, 1)} {
      width: nth($size, 2);
    }
  }
}

.wrapper {
  @include defineVariants;
  @include generateSizesVariations;
  @include buttonOutlines;
  height: 4.8rem;
}