@use 'styles/main';

$container-height: 9.2rem;

@mixin defineStylesBasedOnStates {
  .menuWrapper.menuScrolling {
    @include main.designOfHeadersWhenScrollAppear;
  }

  .containerToNotAffectScroll {
    @include main.media(">desktop") {
      height: $container-height;
    }
  }
}

.wrapper {
  @include defineStylesBasedOnStates;
}

.contentWrapper {
  @extend %container;
  @extend %containerPaddingLeftRight;

  height: $container-height;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include main.media("<desktop") {
    display: none;
  }
}
